
.container{

  display: grid;
  grid-template-columns: 200px auto auto;
  grid-template-rows: auto auto auto auto auto;

  border: 3px solid #444;
  grid-gap: 3px;
  padding: 1.5vw 2vw;

}

.sidebar{
  justify-self: stretch;
  grid-column: 1 / span 1;
  grid-row: 1/ span 6;
  
}


.top10{
  justify-self: center;
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  
}


.premise{
  justify-self: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  
}

.alcohol{
  justify-self: center;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
 
}

.victims{
  justify-self: center;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  
}

.offenders{
  justify-self: center;
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
 
}

.trends{
  justify-self: center;
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
  
}

.time{
  justify-self: center;
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}
