.container{
background-color: #8fa7bf;
padding: 1% 1%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto auto auto auto auto auto;
grid-gap: 10px
}


.sidebar{
  width: 98%;
  grid-column: span 2;
  grid-row: 1;
  padding: 20px;
  background-color: #4c637b;
  border-radius: 20px;
}

.premiseselect{
  
}

.lgaselect{

}

.offenceselect{

}

.title{
  grid-column: 2;
  grid-row: 1;

  display: grid;
  grid-template-columns: 49% 49%;
  background-color: white;
  border-radius: 5px;
}

.selections{
  grid-column: 2;
  grid-row: 1;

  /*display: grid;
  grid-template-columns: 99%;
  grid-template-rows: 20px 20px 20px;
  grid-gap: 20px;*/
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
}

.content{
  grid-column: 1 / span 2;
  grid-row: 2 / span 8;
  /*display: grid;
  grid-template-rows: auto auto auto auto auto;
  background-color: white;
  border-radius:  20px;*/
}

.top10{
  justify-self: stretch;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}


.premise{
  justify-self: stretch;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.alcohol{
  justify-self: stretch;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.victims{
  justify-self: stretch;
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.offenders{
  justify-self: stretch;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.trends{
  justify-self: stretch;
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
}

.time{
  justify-self: stretch;
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
}
