.container{
  background-color: #8fa7bf;
  padding: 1% 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-gap: 10px
}


.sidebar{
  width: 98%;
  grid-column: span 2;
  grid-row: 1;
  padding: 20px;
  background-color: #4c637b;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

.premiseselect{
  width: 98%;
}

.lgaselect{
wi  dth: 98%;
}

.offenceselect{
wid th: 98%;
}

.title{
  background-color: white;
  border-radius: 5px;
}

.selections{
  grid-row: 2;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content{
  background-color: white;
  margin-top: 1%;
  border-radius: 20px;
  grid-column: 1 / span 2;
}

.row1{
  grid-column:1 / span 2;
  grid-row: 1;
  float:left
}


.row2{
  grid-column:1 / span 2;
  grid-row: 2;
  float:left
}



.row3{
  grid-column:1 / span 2;
  grid-row: 3;
  float:left
}



.trends{
  grid-row: 4;
}

.time{
  grid-row: 5
}
